.populares{
	width:800px;
	height: 750px;
	padding-top: 10px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items:  center;
}

.tarjeta{
	padding:15px; 
	width:350px;
	height: 350px;
	padding-top: 0;
	position: relative;
}

.tarjeta img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid #E1439A;
}

.layer{
	background-color: #A51E9F;
    width: 360px;
    opacity: 29%;
    visibility: 20%;
    height: 355px;
    position: absolute;
    border-radius: 100%;
    z-index: 100;
}

.tarjeta > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #d7ff00;
  text-shadow: 0px 0px 7px #2603fb;
}
.tarjeta>h3:hover {
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 1rem;
    transition-duration: 0.3s;
    text-shadow: 0px 0px 4px #d7ff00;
}

@media screen and (max-width: 1278px) {
	
	.populares {
		width: 100%;
		height: 750px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		align-content: flex-start;
	}

	.tarjeta {
		width: 40%;
		height: 20%;
		position: relative;
	}

	.tarjeta > h3 {
		font-size: 15px;
		text-align: center;
	}

	.layer {
		background-color: #A51E9F;
		width: 85%;
		opacity: 36%;
		visibility: 20%;
		height: 97%;
		position: absolute;
		border-radius: 100%;
		z-index: 100;
	}

}

